.name{

  border:1px solid lightgrey;
  
  border-radius: .5rem;
  
  font-size: 1.4rem;
  
  padding: .5rem;
  
  margin: .5rem auto;
  
  }
  
  .name:focus{
  
  outline: none; 
  
  border: 1px solid tomato; 
  
  }
  
  .btn{
  
  font-size: 1.3rem;
  
  border: none;
  
  background-color: tomato;
  
  color: white;
  
  padding:.5rem;
  
  border-radius: .2rem;
  
  }
  
  
  