.chatbox {
  height: 60vh; 
  border: 1px tomato solid;
  border-radius: .8rem;
  margin: .8rem 0;
  padding:.8rem;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  

  &_messagebox{
  background: wheat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  padding: .5rem;
  margin: .2rem 0;
  border-radius: .5rem;
  max-width: 70%;
  min-width: 40%;
  
}
  &_number{
    color: gray;
    font-size: .9rem;
    align-self: flex-start;
    padding-bottom: .2rem;
    transform: translateY(-.2rem) translateX(-.2rem);
  }
  &_message{
    font-size: 1.1rem;
    width: fit-content;
    display: block;
    word-wrap: break-word;
    max-width: 100%;
    align-self: flex-start;
  }
  &_time{
    color: gray;
    font-size: .8rem;
    transform: translateY(.5rem) translateX(.3rem);
  }
  }
  


  .chatbox::-webkit-scrollbar {
    display: none;
    }
    
    
    /* Hide scrollbar for IE, Edge and Firefox */
    
    .chatbox {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */    
    }
    
        
    

  .messageInput{
  
  border:1px solid lightgrey;
  border-radius: .5rem;
  font-size: 1.4rem;
  padding: .5rem;
  max-width: calc(100% - 5rem);
  
  }
  
  .messageInput:focus{
  
  outline: none;
  border: 1px solid tomato;
  
  }
  
  .sendbox{
  
  display: flex;
  align-items: center;
  
  }
  
  .button{
  
  font-size: 1.3rem;
  background-color: tomato;
  color: white;
  padding:.5rem;
  border-radius: .2rem;
  margin: 0 .2rem;
  border: none;
  
  }
  
  